
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Frontend/images/favicon.ico" type="image/x-icon">
    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <!--Font Awesome Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="~/Frontend/css/styles.css" />
    <title>Codevo - Ecommerce Website</title>
</head>

<body>
    <!-- Header -->
    <header id="home" class="header">
        <!-- Navigation -->
        <nav class="nav">
            <div class="navigation container">
                <div class="logo">
                    <a href="/Contact/Index/"><h1>Logo</h1></a>
                </div>

                <div class="menu">
                    <div class="top-nav">
                        <div class="logo">
                            <h1>Codevo</h1>
                        </div>
                        <div class="close">
                            <i class="bx bx-x"></i>
                        </div>
                    </div>

                    <ul class="nav-list">

                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Kategorien</a>
                            @await Component.InvokeAsync("CategoryGetList")
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("Index", "About")" class="elements">
                                <span>Über</span>
                            </a>
                            @*<a href="/About/Index/" class="nav-link scroll-link">Über</a>*@
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link scroll-link">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact/Konto/" class="nav-link scroll-link">Konto</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/LogOutForUser/" class="nav-link scroll-link">Ausloggen</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Contact/Cart" class="nav-link icon"><i class="bx bx-shopping-bag"></i></a>
                        </li>
                    </ul>
                </div>

                <a href="/Contact/Cart/" class="cart-icon">
                    <i class="bx bx-shopping-bag"></i>
                </a>

                <div class="hamburger">
                    <i class="bx bx-menu"></i>
                </div>
            </div>
        </nav>


        <img src="~/Frontend/images/hdr.png" alt="" class="hero-img" />
        <div class="hero-content">
            <h2><span class="discount">50% </span>AUSVERKAUF</h2>
            <h1>
                <span>Cyber-Montag</span>
                <span>Sonderangebot</span>
            </h1>
            <a class="btn" href="#">JETZT EINKAUFEN</a>
        </div>

    </header>


    @await Component.InvokeAsync("ProductGetList")
    @RenderBody()







<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-center">
                <h3>EXTRAS</h3>
                <a href="#">Marken</a>
                <a href="#">Geschenkgutscheine</a>
                <a href="#">Affiliate</a>
                <a href="#">Sonderangebote</a>
                <a href="#">Seitenverzeichnis</a>
            </div>
            <div class="footer-center">
                <h3>INFORMATION</h3>
                <a href="#">Über uns</a>
                <a href="#">Datenschutz-Bestimmungen</a>
                <a href="#">Terms & amp; Bedingungen</a>
                <a href="#">Kontaktiere uns</a>
                <a href="#">Seitenverzeichnis</a>
            </div>
            <div class="footer-center">
                <h3>MEIN KONTO</h3>
                <a href="#">Mein Konto</a>
                <a href="#">Bestellverlauf</a>
                <a href="#">Wunschzettel</a>
                <a href="#">Newsletter</a>
                <a href="#">Retouren</a>
            </div>
            <div class="footer-center">
                <h3>KONTAKTIERE UNS</h3>
                <div>
                    <i class="fa fa-map-marker-alt" style="color:white;"></i>
                    <span>
                        34500 Beykoz,Istanbul, Turkey
                    </span>
                </div>
                <div>
                    <a href="mailto:company@gmail.com" title="Senden Sie uns eine E-Mail!">
                        <i class="fa fa-envelope" style="color:white"></i>
                        <span>company@gmail.com</span>
                    </a>
                </div>
                <div>
                    <i class="fa fa-phone" style="color:white;"></i>
                    <span>
                        +90-456-456-4512
                    </span>
                </div>
                <div>
                    <i class="fas fa-map-marked-alt" style="color:white"></i>
                    <span>Istanbul, Turkey</span>
                </div>

            </div>
        </div>
    </div>
</footer>
    <!-- End Footer
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <!-- Custom Script -->
    <script src="~/Frontend/js/index.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>

<style>

    ul {
        list-style-type: none !important;
        margin: 0 !important;
        padding: 0 !important;
        overflow: hidden !important;
        background-color: none !important;
    }

    li {
        float: left;
    }

        li a, .dropbtn {
            display: inline-block !important;
            color: white !important;
            text-align: center !important;
            padding: 14px 16px !important;
            text-decoration: none !important;
        }

        li a:hover, .dropdown:hover .dropbtn {
                background-color: #ff728a !important;
        }

        li.dropdown {
            display: inline-block !important;
        }

    .dropdown-content {
        display: none !important;
        position: absolute !important;
        background-color: #f9f9f9 !important;
        min-width: 160px !important;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2) !important;
        z-index: 1 !important;
    }

        .dropdown-content a {
            color: black !important;
            padding: 12px 16px !important;
            text-decoration: none !important;
            display: block !important;
            text-align: left !important;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1 !important;
            }

    .dropdown:hover .dropdown-content {
        display: block !important;
    }
</style>
