@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

<div>
    <h3 style="text-align: center;margin-top:200px">Siparişinizi onaylamak için lütfen mail adresinizi kontrol ediniz!</h3>
</div>