@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

<div>
    <h3 style="text-align: center;margin-top:200px">Bitte überprüfen Sie Ihre E-Mail-Adresse, um Ihre Bestellung zu bestätigen!</h3>
</div>