@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AboutLayout.cshtml";
}

<div>
    <h3 style="text-align: center;margin-top:200px">Ihre Bestellung wurde erfolgreich bestätigt!</h3>
</div>