@model List<System.Tuple<EBusiness.Data.Models.Product, int>>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <div class="cart-info">
                    <img src="@item.Item1.ImageUrl" alt="">
                    <div>
                        <p>@item.Item1.ProductName</p>
                        <span>Price: $@item.Item1.Price</span>
                        <br />
                        <a href="/Contact/RemoveFromCart/@item.Item1.ProductID">Remove</a>
                    </div>
                </div>
            </td>
            <td>
                <span style="margin-left:5px; margin-right: 10px">@item.Item2</span>
                <a class="btn" href="/Contact/IncreaseCartAmount/@item.Item1.ProductID"><i class="bx bx-up-arrow-alt"></i></a>
                <a class="btn" href="/Contact/DecreaseCartAmount/@item.Item1.ProductID"><i class="bx bx-down-arrow-alt"></i></a>
            </td>
            <td>$@(item.Item1.Price * item.Item2)</td>
        </tr>
    }
