
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Frontend/images/favicon.ico" type="image/x-icon">
    <!-- Box icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="~/Frontend/css/styles.css" />
    <title>Codevo - Produktdetails</title>
</head>

<body>
    <!-- Header -->
    <header id="home" class="header">
        <!-- Navigation -->
        <nav class="nav">
            <div class="navigation container">
                <div class="logo">
                    <a href="/Contact/Index/"><h1>Logo</h1></a>
                </div>

                <div class="menu">
                    <div class="top-nav">
                        <div class="logo">
                            <h1>Codevo</h1>
                        </div>
                        <div class="close">
                            <i class="bx bx-x"></i>
                        </div>
                    </div>

                    <ul class="nav-list">
                        
                        <li class="dropdown">
                            <a href="javascript:void(0)" class="dropbtn">Kategorien</a>
                            @await Component.InvokeAsync("CategoryGetList")
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link scroll-link">Über</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link scroll-link">Kontakt</a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" class="nav-link scroll-link">Konto</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Login/LogOutForUser/" class="nav-link scroll-link">Ausloggen</a>
                        </li>
                        <li class="nav-item">
                            <a href="cart.html" class="nav-link icon"><i class="bx bx-shopping-bag"></i></a>
                        </li>
                    </ul>
                </div>

                <a href="cart.html" class="cart-icon">
                    <i class="bx bx-shopping-bag"></i>
                </a>

                <div class="hamburger">
                    <i class="bx bx-menu"></i>
                </div>
            </div>
        </nav>


        <img src="~/Frontend/images/hdr.png" alt="" class="hero-img" />

        <div class="hero-content">
           <h2><span class="discount">50% </span>AUSVERKAUF</h2>
                <h1>
                    <span>Cyber-Montag</span>
                    <span>Sonderangebot</span>
                </h1>
                <a class="btn" href="#">JETZT EINKAUFEN</a>

        </div>
    </header>


    @await Component.InvokeAsync("ProductByCategory",new { id= ViewBag.x})
   







    <footer id="footer" class="section footer">
        <div class="container">
            <div class="footer-container">
                <div class="footer-center">
                    <h3>EXTRAS</h3>
                    <a href="#">Marken</a>
                    <a href="#">Geschenkgutscheine</a>
                    <a href="#">Affiliate</a>
                    <a href="#">Sonderangebote</a>
                    <a href="#">Seitenverzeichnis</a>
                </div>
                <div class="footer-center">
                    <h3>INFORMATION</h3>
                    <a href="#">Über uns</a>
                    <a href="#">Datenschutz-Bestimmungen</a>
                    <a href="#">Terms & amp; Bedingungen</a>
                    <a href="#">Kontaktiere uns</a>
                    <a href="#">Seitenverzeichnis</a>
                </div>
                <div class="footer-center">
                    <h3>MEIN KONTO</h3>
                    <a href="#">Mein Konto</a>
                    <a href="#">Bestellverlauf</a>
                    <a href="#">Wunschzettel</a>
                    <a href="#">Newsletter</a>
                    <a href="#">Retouren</a>
                </div>
                <div class="footer-center">
                    <h3>KONTAKTIERE UNS</h3>
                    <div>
                        <span>
                            <i class="fas fa-map-marker-alt"></i>
                        </span>
                        34500 Beykoz,Istanbul, Turkey
                    </div>
                    <div>
                        <span>
                            <i class="far fa-envelope"></i>
                        </span>
                        company@gmail.com
                    </div>
                    <div>
                        <span>
                            <i class="fas fa-phone"></i>
                        </span>
                        +90-456-456-4512
                    </div>
                    <div>
                        <span>
                            <i class="far fa-paper-plane"></i>
                        </span>
                        Istanbul, Turkey
                    </div>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- End Footer
    <!-- GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <!-- Custom Script -->
    <script src="./js/index.js"></script>
</body>

</html>

<style>

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: none;
    }

    li {
        float: left;
    }

        li a, .dropbtn {
            display: inline-block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

            li a:hover, .dropdown:hover .dropbtn {
                background-color: #ff728a;
            }

        li.dropdown {
            display: inline-block;
        }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

            .dropdown-content a:hover {
                background-color: #f1f1f1;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
